* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    background-image: url(./images/bg-pattern-desktop.svg);
    color: hsl(0, 36%, 70%);
    width: 100%;
    height: 100%;
}
main {
    display: flex;
    flex-direction: column;
}
div.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
div.container::before {
    content: url(./images/logo.svg);
    display: block;
    position: absolute;
    top: 4rem;
    left: 8rem;
}
div.contents {
    padding: 4rem 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10rem;
}
div.illustration img {
    height: 100%;
}
header {
    width: min-content;
    color: #000;
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 1rem;
}
header span {
    font-weight: 300;
    color: hsl(0, 36%, 70%);
}
p.details {
    margin: 2rem 0;
    width: 48ch;
    line-height: 1.7;
}
#reg {
    display: flex;
    width: 26rem;
    position: relative;
}
input {
    padding: 1em 2em;
    border: 1px hsl(0, 36%, 70%);
    border-style: ridge;
    border-radius: 30px;
    width: 100%;
}
input:hover {
    border: 2px solid hsl(0, 74%, 74%);
}
p.err-message {
    color: hsl(0, 74%, 74%);
    margin: .5rem 1.5rem;
}
::placeholder {
    color: hsl(0, 80%, 86%);
    font-family: 'Josefin Sans', sans-serif;
}
#reg img.button {
    padding: .75em 2em;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border-radius: 20px;
    position: absolute;
    right: 0;
}
#reg img.error {
    position: absolute;
    right: 5.5rem;
    bottom: .75rem;
}
#reg img.button:hover {
    background: linear-gradient(135deg, hsl(0, 100%, 98%), hsl(0, 80%, 86%));
    box-shadow: 0 10px 10px hsl(0, 80%, 86%);
    cursor: pointer;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
.show {
    visibility: visible;
}
.hide {
    visibility: hidden;
}

/***********MEDIA QUERY**********/

@media screen and (max-width: 500px) {
    main {
        gap: 0;
    }
    div.container {
        display: flex;
        flex-direction: column-reverse;
        margin: 6rem 0;
    }
    div.container::before {
        top: 2rem;
        left: 2rem;
    }
    div.illustration img {
        max-width: 100%;
        height: auto;
    }
    div.contents {
        padding: 4rem 0;
        text-align: center;
    }
    div.body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header {
        font-size: 3em;
        text-align: center;
        width: 100%;
    }
    p.details {
        width: 90%;
    }
    span:nth-child(3) {
        width: 90%;
    }
}